$colorgrey: #393E46;
$colorteal: #00ADB5;
$textcolor: #EEEEEE;
$back: #222831;
$fontcomfort:"Comfortaa",
"Times New Roman";
$font2:"Josefin Sans",
sans-serif;

* {
    box-sizing: border-box;

}

body {
    background-color: $back;
    color: $textcolor;
    font-family: $font2;
    font-weight: 400;
}

header {

    #top {
        padding: 0 30px;
        background-color: $colorgrey;
        display: flex;
        flex-direction: row-reverse;
        margin: 0 auto;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .link {
            width: 80%;
            height: 50px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            a {
                color: $colorteal;
                text-decoration: none;
                font-size: large;
                padding: 10px;
                transition: .3s;

                &:hover {

                    color: $textcolor;
                    transition: .3s;

                }

            }
        }
    }
}

main {
    width: 80%;
    margin: 0 auto;
}

.pic_name {
    margin: 30px auto;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .pict {
        width: auto;
    }

    .me {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .greet {
            font-size: larger;
            background-color: $colorgrey;
            padding: 20px;
            color: $colorteal;
            border-radius: 0 20px 0 20px;
            transition: .3s;

            &:hover {
                border-radius: 20px 0 20px 0;
                transition: .3s;
                color: white;
            }

            &:first-child {
                background-color: transparent;
                color: white;
                box-shadow: 2px 2px 1px $colorteal;
                border-radius: 0;
            }
        }
    }
}

#name {
    color: $colorteal;
    font-size: 50px;
    font-family: $fontcomfort;

}

.bout {
    margin-top: 60px;
    background-color: $colorgrey;
    width: 100%;

    #about {

        background-blend-mode: soft-light;
        position: relative;
        margin: 20px auto;
        width: 100%;
        padding: 1px 0;

        p {
            margin: 40px auto;
            width: 80%;
            text-align: justify;

        }

        .about_me {
            position: absolute;
            top: -20px;
            left: 200px;
            background-color: $colorgrey;
            width: 200px;
            padding: 10px;
            border-radius: 30px;
            text-align: center;
            font-size: 20px;
            color: $colorteal;
            font-weight: bold;

        }



    }
}

.picture {
    width: 40px;
    border-radius: 50%;


}

// .balls {

//     position: absolute;
//     top: 20%;
//     left: 10%;
//     z-index: -1;
//     width: auto;
//     height: auto;

//     .container {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-around;
//         position: relative;
//         margin: 0 auto;
//         width: 800px;
//         height: 400px;
//         // .behind{
//         //     opacity: .4;
//         //     font-size: 100px;
//         //     margin: 20px 3px;
//         // }

//         .jump1,
//         .jump2,
//         .jump3,
//         .jump4 {
//             position: absolute;
//             border-radius: 50%;
//             background-color: $colorteal;
//             opacity: .5;
//         }

//         .jump1 {
//             top: 7%;
//             left: 20%;
//             width: 200px;
//             height: 200px;
//         }

//         .jump2 {
//             width: 100px;
//             height: 100px;
//             top: 7%;
//             left: 15%;
//         }

//         .jump3 {
//             width: 100px;
//             height: 100px;
//             top: 20%;
//             right: 30%;
//         }
//     }
// }

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px auto;
    justify-content: space-between;
}

.others {
    background-color: $colorgrey;

    width: 250px;
    padding: 30px 20px;
    box-shadow: 2px 2px 1px $colorteal;

    &:nth-child(even) {
        background-color: $back;
    }

}

.contact_me {
    width: 80%;
    margin: 100px auto;
    text-align: center;

    a {
        width: 200px;
        padding: 20px;
        background-color: $colorgrey;
        border-bottom: 1px solid $colorteal;
        border-right: 1px solid $colorteal;
        text-decoration: none;
        color: $colorteal;
        font-size: larger;
        font-weight: 700;
        border-radius: 10px;
        transition: all .3s;

        &:hover {
            border-bottom: 3px solid $colorteal;
            border-right: 3px solid $colorteal;
            transition: all .3s;
        }
    }

}

form {
    width: 600px;
    border: 1px solid $colorteal;
    border-top: none;
    // border-radius: 20px;
    box-shadow: 1px $colorteal;
    padding: 20px;
    margin: 70px auto;
    padding-bottom: 50px;
    text-align: center;
}

label {
    color: $colorteal;
    display: block;
    margin: 10px;
    margin-left: 0;
}

input,
textarea, select {
    margin: 2px auto 20px;
    width: 500px;
    // font-weight: bold;
    font-size: medium;

    &:last-child {
        margin-top: 20px;
    }
}

h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
    display: block;
}

#f_name,
#mail,
#password,
#l_name,
#country,
#phone,
#gender,
#state {
    height: 30px;
}

#gender {
    color: $textcolor;
    background-color: $back;
    border: 1px solid $colorgrey;
    font-weight: bold;
    padding: 5px;
}

// #message{
//     height: 300px;
//     width: 300px;
//     text-align: justify;
// }

#submit {
    color: $colorteal;
    background-color: $colorgrey;
    padding: 10px 20px;
    border: none;
    font-size: large;
    font-weight: 700;
    border-bottom: 2px solid $colorteal;
    transition: all .3s;
    width: auto;

    &:hover {
        color: white;
        transition: all .3s;
        border-bottom: 2px solid $textcolor;
    }
}

footer {
    background-color: $colorgrey;
    text-align: center;
    position: relative;

    .connect {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        padding: 10px;
        background-color: $colorteal;
        margin: 0 auto;
        width: 250px;
        border-radius: 30px;
        border: 5px solid $colorgrey;
        position: absolute;
        top: -25px;
        left: 10%;
    }

    .socials {
        width: 300px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .icons {
            width: 50px;
            margin: 10px;

            img {
                width: 50px;
                border-radius: 50%;
                transition: .3s;

                &:hover {
                    opacity: .5;
                    transition: .3s;
                }
            }

        }
    }
    .links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 15px;
        a{
            color:$textcolor;
            text-decoration: none;
            &:hover{
                color: $colorteal;
            }
        }
    }
}

@media(max-width:1000px) {
    header {

        #top {

            .link {
                justify-content: space-between;
            }
        }
    }

    .pic_name {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .pict {
            width: 200px;
        }

        .me {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .greet {
                text-align: center;

            }
        }
    }

    .picture {
        margin-right: 10px;


    }

    #name {
        font-size: 30px;
        margin: 20px auto;

    }
    form {
        width: 600px;
    }
    input,
    textarea,select {
        width: 400px;
    }
    .bout {
        margin-top: 60px;
        width: 100%;
    
        #about {
    
            position: relative;
            margin: 20px auto;
            width: 100%;
            padding: 1px 0;
    
            p {
                margin: 40px auto;
                text-align: left;
    
            }
    
            .about_me {
                top: -30px;
                left: 20px;
    
            }
    
    
    
        }
    }
    
    
    
    footer {
        border-radius: 10px 10px 0 0;
    
        .connect {
    
            font-size: 20px;
            width: 250px;
            left: 35%;
        }
    
        .socials {
            .icons {
                width: 50px;
    
                img {
                    width: 40px;
                }
    
            }
        }
        // .links{
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-evenly;
        //     padding-bottom: 15px;
        //     a{
        //         color:$textcolor;
        //         text-decoration: none;
        //     }
        // }
    }
    .skills {
        justify-content: space-around;

        .others {
            margin-top: 20px;
        }
    }
}


@media(max-width:412px) {
    header {

        #top {

            .link {
                justify-content: space-evenly;
            }
        }
    }

    .pic_name {
        flex-direction: column;
        align-items: center;

        .pict {
            width: 200px;
        }

        .me {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .greet {
                text-align: center;

            }
        }
    }

    .picture {
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;


    }

    #name {
        font-size: 25px;
        margin: 20px auto;

    }
    form {
        width: 300px;
    }
    input,
    textarea, select {
        width: 200px;
    }
    .bout {
        margin-top: 60px;
        width: 100%;
    
        #about {
    
            position: relative;
            margin: 20px auto;
            width: 100%;
            padding: 1px 0;
    
            p {
                margin: 40px auto;
                text-align: left;
    
            }
    
            .about_me {
                top: -25px;
                left: 20px;
    
            }
    
    
    
        }
    }
    
    
    
    footer {
        border-radius: 10px 10px 0 0;
    
        .connect {
    
            font-size: 10px;
            width: 125px;
            left: 35%;
        }
    
        .socials {
            .icons {
                width: 25px;
    
                img {
                    width: 25px;
                }
    
            }
        }
        // .links{
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-evenly;
        //     padding-bottom: 15px;
        //     a{
        //         color:$textcolor;
        //         text-decoration: none;
        //     }
        // }
    }
}


